@import url(cells.css);
@import url(modal.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: #363030;
  padding: 5vh 5vw;
  margin: 0 auto;
  inline-size: 100vw;
  block-size: 100vh;
  max-inline-size: 1400px;
  min-inline-size: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.main {
  background-color: #000000;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "head-q head-p head-p head-p head-p"
    "first-q first-q-100 first-q-200 first-q-300 first-q-400"
    "second-q second-q-100 second-q-200 second-q-300 second-q-400"
    "third-q third-q-100 third-q-200 third-q-300 third-q-400"
    "fourth-q fourth-q-100 fourth-q-200 fourth-q-300 fourth-q-400";
    box-shadow: 0 0 10000px 20px #a05d91;
}

button {
  color: inherit;
  text-decoration: none;
  padding: 0;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b5b5b5;
}

.button-no-eff {
  cursor: default;
}

.button-no-eff:hover {
  background-color: #ffffff;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.head-content {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
}

.cell {
  background-color: #ffffff;
  height: calc(100% - 2px);
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
